<?php
namespace <%= model_namespace %>;

use Illuminate\Database\Eloquent\Model;

class <%= model_class_name %> extends Model
{
    <%= "// Please change this value" %>
    protected $fillable = ['id'];
}
